[submodule ".github/actions/chart-testing-action"]
	path = .github/actions/chart-testing-action
	url = https://github.com/helm/chart-testing-action.git
[submodule ".github/actions/kind-action"]
	path = .github/actions/kind-action
	url = https://github.com/helm/kind-action.git
[submodule ".github/actions/chart-releaser-action"]
	path = .github/actions/chart-releaser-action
	url = https://github.com/helm/chart-releaser-action.git
