name: Release Charts

on:
  push:
    branches:
      - main

permissions:
  contents: write
  deployments: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false
          submodules: recursive

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: ./.github/actions/setup-helm
        with:
          version: v4.2.0

      - name: Run chart-releaser
        uses: ./.github/actions/chart-releaser-action
        with:
          charts_dir: .
          charts_repo_url: https://apache.github.io/couchdb-helm
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
